@tailwind base;
@tailwind components;
@tailwind utilities;

  
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
body{
  background-color: gray;
}
}
#nav-layout{
}
.font{
  text-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.mix-avisos-bg{
  background-image: linear-gradient(
    to right,
    #2C00F0,
    #7A00F0)
    
}

.nav-icon-container{
  background-color: rgb(255, 255, 255);
  transition: .07s;
}
.nav-icon-container-start{
  background-color: rgba(255, 255, 255, 0.095);
}

.nav-icon-container-start:hover{
  background-color: rgb(0, 0, 0);
}
.nav-icon-container-start:active{
  background-color: rgba(255, 255, 255, 0.5);
 }

.green {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
}

/*corrigindo erro bobo, tailwind não cria variavel apos render entao eu próprio estou criando ela*/
.black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.red {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
 .purple {
  --tw-text-opacity: 1;
  color: rgb(126 34 206 / var(--tw-text-opacity));
}

.cyan {
  --tw-text-opacity: 1;
  color: rgb(34 211 238 / var(--tw-text-opacity));
}

.gray {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.blue {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.yellow {
  --tw-text-opacity: 1;
  color: rgb(250 204 21 / var(--tw-text-opacity));
}

/*Fonts*/

/*Rubik Scribble 400
Rubik Doodle Triangles 400
Oswald 200 400 700*/
.font-cartegory{
  font-family: 'Dancing Script', sans-serif;
  white-space: wrap;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  color: white
}
.font-rubik{
  font-family: 'Rubik Lines', sans-serif;
  
}
.font-rubikscribble{
  font-family: 'Rubik Scribble', sans-serif;
  
}
.font-rubikdoodle{
  font-family: 'Rubik Doodle Triangles', sans-serif;
  
}
.font-oswald-300{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.font-oswald-700{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 100%;
}
::-webkit-scrollbar-thumb {

  background-color: #ffffff61;
}
::-webkit-scrollbar-corner{
  background-color: rgba(44, 0, 240, 0);
}

/*Cartegories*/

#cartegory-lofi{
  background: url(https://res.cloudinary.com/dtochimsz/image/upload/v1705496919/_37b54a6b-c032-4ae8-bc0e-5f07763bb980_bdwkjl.jpg);
  background-size: cover; 

}
#cartegory-minecraft{
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Userbox_creeper.svg/1200px-Userbox_creeper.svg.png) top black;
  background-size: contain;
  background-repeat: no-repeat;
}
#cartegory-omori{
  background: url(https://static.fontbolt.com/themes-452px/64da0063e64a1.png) top black;
  background-size: contain;
  background-repeat: no-repeat;
}
#cartegory-undertale{
  background: url(https://upload.wikimedia.org/wikipedia/commons/2/26/Undertale-logo.jpg) center black;
  background-size: contain;
  background-repeat: no-repeat;
}
/*PROPORÇÃO DE TELA*/

.aspect-16-9 {
  aspect-ratio: 16 / 9;
}
.aspect-4-3 {
  aspect-ratio: 4 / 3;
}
.aspect-21-9 {
  aspect-ratio: 21 / 9;
}
.aspect-9-16 {
  aspect-ratio: 9 / 16;
}

/*colune*/
.coluna{
  grid-template-columns: 1fr;
}

@media (min-width: 530px) {
  .coluna {
    grid-template-columns: repeat(2, 1fr);
  }
  
}
@media (min-width: 750px) {
  .coluna {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media (min-width: 400px) {

  .music-layout-cartegory-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}
